<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :conjuge %><br>
    <%= f.text_field :conjuge %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :estado_id %><br>
    <%= f.number_field :estado_id %>
  </div>
  <div class="field">
    <%= f.label :cidade_id %><br>
    <%= f.number_field :cidade_id %>
  </div>
  <div class="field">
    <%= f.label :tresidencial %><br>
    <%= f.text_field :tresidencial %>
  </div>
  <div class="field">
    <%= f.label :tcelular %><br>
    <%= f.text_field :tcelular %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :rg %><br>
    <%= f.text_field :rg %>
  </div>
  <div class="field">
    <%= f.label :evento %><br>
    <%= f.check_box :evento %>
  </div>
  <div class="field">
    <%= f.label :horario_festa %><br>
    <%= f.time_select :horario_festa %>
  </div>
  <div class="field">
    <%= f.label :duracao_festa %><br>
    <%= f.text_field :duracao_festa %>
  </div>
  <div class="field">
    <%= f.label :dia_semana %><br>
    <%= f.number_field :dia_semana %>
  </div>
  <div class="field">
    <%= f.label :cortesia %><br>
    <%= f.check_box :cortesia %>
  </div>
  <div class="field">
    <%= f.label :valor_consumacao %><br>
    <%= f.text_field :valor_consumacao %>
  </div>
  <div class="field">
    <%= f.label :itens_avulsos %><br>
    <%= f.number_field :itens_avulsos %>
  </div>
  <div class="field">
    <%= f.label :data_evento %><br>
    <%= f.date_select :data_evento %>
  </div>
  <div class="field">
    <%= f.label :qtde_criancas %><br>
    <%= f.number_field :qtde_criancas %>
  </div>
  <div class="field">
    <%= f.label :qtde_adultos %><br>
    <%= f.number_field :qtde_adultos %>
  </div>
  <div class="field">
    <%= f.label :tema %><br>
    <%= f.number_field :tema %>
  </div>
  <div class="field">
    <%= f.label :gerar_contrato %><br>
    <%= f.check_box :gerar_contrato %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :num_documento %><br>
    <%= f.text_field :num_documento %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="field">
    <%= f.label :entrada %><br>
    <%= f.text_field :entrada %>
  </div>
  <div class="field">
    <%= f.label :forma_pagamento %><br>
    <%= f.text_field :forma_pagamento %>
  </div>
  <div class="field">
    <%= f.label :obs %><br>
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
