<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form align="center" placeholder = "large-12.columns">
<fieldset class = "row" >
  <legend>Cliente</legend>
<br>
<br>

<div class="large-6 columns">
<%= f.label :nome %><br>
<%= f.text_field :nome %>
</div>

<div class="large-6 columns">
<%= f.label :conjuge %><br>
<%= f.text_field :conjuge%>
</div>

<div class="large-4 columns">
<%= f.label :endereco %><br>
<%= f.text_field :endereco %>
</div>

<div class="large-4 columns">
<%= f.label :bairro %><br>
<%= f.text_field :bairro%>
</div>


<div class="large-4 columns">
<%= f.label :cep %><br>
<%= f.text_field :cep %>
</div>


<div class="large-4 columns">
<%= f.label :estado %><br />
<%= f.collection_select :estado, Estado.all, :id, :nome, {:prompt => true} %>
</div>


<div class="large-4 columns">
<%= f.label :cidade %><br>
<%= @cliente.estado.nil? ? (raw '<select id="cliente_cidade"
nome="cliente[cidade]" type="text"/></select>') :
(f.collection_select :cidade, @cliente.estado.try(:cidade), :id,
:nome) %>
</div>

<div class="large-4 columns">
<%= f.label :tresidencial %><br>
<%= f.text_field :tresidencial %>
</div>

<div class="large-4 columns">
<%= f.label :tcelular %><br>
<%= f.text_field :tcelular %>
</div>

<div class="large-4 columns">
<%= f.label :cpf %><br>
<%= f.text_field :cpf %>
</div>

<div class="large-4 columns">
<%= f.label :rg %><br>
<%= f.text_field :rg %>
</div>

<div class="large-12 columns">
<%= f.label :email %><br>
<%= f.text_field :email %>
</div>
<br />

<div class="large-12 columns">
<%= f.label :dependente %><br>
<%= f.collection_select :dependente, DependenteCliente.all, :id, :nome, {:prompt => true} %>
<%= link_to 'Adicionar Dependente (Filhos)', new_dependente_cliente_path %>
<br />
</div>

<div class="large-12 columns">
<br />
<br />
<%= f.submit %>
  </div>
  </form>
  </fieldset>
<% end %>
