<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :conjuge %><br>
    <%= f.text_field :conjuge %>
  </div>
  <div class="field">
    <%= f.label :endereco %><br>
    <%= f.text_field :endereco %>
  </div>
  <div class="field">
    <%= f.label :bairro %><br>
    <%= f.text_field :bairro %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.collection_select :estado, Estado.all, :id, :nome, { prompt: true }%>
  </div>
  <div class="field">
    <%= f.label :cidade %><br>
    <% if @cliente.estado.nil? %>
    <%= raw('<select id="cliente_cidade" name="cliente[cidade]"></select') %>
    <% else %>
    <%= f.collection_select :cidade, @cliente.estado.try(:cidade), :id, :nome %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :tresidencial %><br>
    <%= f.text_field :tresidencial %>
  </div>
  <div class="field">
    <%= f.label :tcelular %><br>
    <%= f.text_field :tcelular %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :rg %><br>
    <%= f.text_field :rg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
