<p id="notice"><%= notice %></p>

<h1>Listing Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Conjuge</th>
      <th>Endereco</th>
      <th>Bairro</th>
      <th>Cep</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Tresidencial</th>
      <th>Tcelular</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.conjuge %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.cep %></td>
        <td><%= cliente.estado_id %></td>
        <td><%= cliente.cidade_id %></td>
        <td><%= cliente.tresidencial %></td>
        <td><%= cliente.tcelular %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.rg %></td>
        <td><%= link_to 'Exibir', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
