<p id="notice"><%= notice %></p>
<h2 class="text-center">Cliente</h2>
<fieldset>
  <legend>Identificação</legend>
  <p>
    <strong>Nome do cliente:</strong>
    <%= @cliente.nome %>
  </p>
  <p>
    <strong>Nome do conjuge:</strong>
    <%= @cliente.conjuge %>
  </p>
</fieldset>

<fieldset>
  <legend>Endereço</legend>
  <p>
    <strong>Logradouro</strong>
    <%= @cliente.endereco %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= @cliente.bairro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= @cliente.cep %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @cliente.estado.nome %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @cliente.cidade.nome %>
  </p>
</fieldset>

<fieldset>
  <legend>Contato</legend>
  <p>
    <strong>Telefone residencial:</strong>
    <%= @cliente.tresidencial %>
  </p>

  <p>
    <strong>Telefone celular:</strong>
    <%= @cliente.tcelular %>
  </p>
</fieldset>

<fieldset>
  <legend>Documentos</legend>
    <p>
      <strong>Cpf:</strong>
      <%= @cliente.cpf %>
    </p>

    <p>
      <strong>Rg:</strong>
      <%= @cliente.rg %>
    </p>
</fieldset>
<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
