<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Conjuge:</strong>
  <%= @cliente.conjuge %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong>Tresidencial:</strong>
  <%= @cliente.tresidencial %>
</p>

<p>
  <strong>Tcelular:</strong>
  <%= @cliente.tcelular %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cliente.rg %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @cliente.evento %>
</p>

<p>
  <strong>Horariofesta:</strong>
  <%= @cliente.horarioFesta %>
</p>

<p>
  <strong>Duracaofesta:</strong>
  <%= @cliente.duracaoFesta %>
</p>

<p>
  <strong>Diasemana:</strong>
  <%= @cliente.diaSemana %>
</p>

<p>
  <strong>Cortesia:</strong>
  <%= @cliente.cortesia %>
</p>

<p>
  <strong>Valorconsumacao:</strong>
  <%= @cliente.valorConsumacao %>
</p>

<p>
  <strong>Itensavulsos:</strong>
  <%= @cliente.ItensAvulsos %>
</p>

<p>
  <strong>Dataevento:</strong>
  <%= @cliente.dataEvento %>
</p>

<p>
  <strong>Qtdecriancas:</strong>
  <%= @cliente.qtdeCriancas %>
</p>

<p>
  <strong>Qtdeadultos:</strong>
  <%= @cliente.qtdeAdultos %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @cliente.tema %>
</p>

<p>
  <strong>Gerarcontrato:</strong>
  <%= @cliente.gerarContrato %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cliente.valor %>
</p>

<p>
  <strong>Ndocumento:</strong>
  <%= @cliente.nDocumento %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @cliente.desconto %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @cliente.entrada %>
</p>

<p>
  <strong>Formapagamento:</strong>
  <%= @cliente.formaPagamento %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @cliente.obs %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
