<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Conjuge:</strong>
  <%= @cliente.conjuge %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado_id %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cliente.cidade_id %>
</p>

<p>
  <strong>Telefone residencial:</strong>
  <%= @cliente.tresidencial %>
</p>

<p>
  <strong>Tcelular:</strong>
  <%= @cliente.tcelular %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cliente.rg %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @cliente.evento %>
</p>

<p>
  <strong>Horario festa:</strong>
  <%= @cliente.horario_festa %>
</p>

<p>
  <strong>Duracao festa:</strong>
  <%= @cliente.duracao_festa %>
</p>

<p>
  <strong>Dia semana:</strong>
  <%= @cliente.dia_semana %>
</p>

<p>
  <strong>Cortesia:</strong>
  <%= @cliente.cortesia %>
</p>

<p>
  <strong>Valor consumacao:</strong>
  <%= @cliente.valor_consumacao %>
</p>

<p>
  <strong>Itens avulsos:</strong>
  <%= @cliente.itens_avulsos %>
</p>

<p>
  <strong>Data evento:</strong>
  <%= @cliente.data_evento %>
</p>

<p>
  <strong>Qtde criancas:</strong>
  <%= @cliente.qtde_criancas %>
</p>

<p>
  <strong>Qtde adultos:</strong>
  <%= @cliente.qtde_adultos %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @cliente.tema %>
</p>

<p>
  <strong>Gerar contrato:</strong>
  <%= @cliente.gerar_contrato %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cliente.valor %>
</p>

<p>
  <strong>Num documento:</strong>
  <%= @cliente.num_documento %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @cliente.desconto %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @cliente.entrada %>
</p>

<p>
  <strong>Forma pagamento:</strong>
  <%= @cliente.forma_pagamento %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @cliente.obs %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
