<p id="notice"><%= notice %></p>

<h1>Listing Categoria Fornecedors</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_fornecedors.each do |categoria_fornecedor| %>
      <tr>
        <td><%= categoria_fornecedor.tipo %></td>
        <td><%= categoria_fornecedor.obs %></td>
        <td><%= link_to 'Show', categoria_fornecedor %></td>
        <td><%= link_to 'Edit', edit_categoria_fornecedor_path(categoria_fornecedor) %></td>
        <td><%= link_to 'Destroy', categoria_fornecedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria fornecedor', new_categoria_fornecedor_path %>
