<p id="notice"><%= notice %></p>

<h1 class="text-center">Temas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temas.each do |tema| %>
      <tr>
        <td><%= tema.nome %></td>
        <td><%= tema.obs %></td>
        <td><%= link_to 'Exibir', tema %></td>
        <td><%= link_to 'Editar', edit_tema_path(tema) %></td>
        <td><%= link_to 'Excluir', tema, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to 'Novo tema', new_tema_path, class: 'button', method: :get %>

