<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tema.nome %>
</p>

<p>
  <strong>Ob:</strong>
  <%= @tema.ob %>
</p>

<%= link_to 'Edit', edit_tema_path(@tema) %> |
<%= link_to 'Back', temas_path %>
