<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Fantasia:</strong>
  <%= @fornecedor.nomefantasia %>
</p>

<p>
  <strong>Razão Social:</strong>
  <%= @fornecedor.razaosocial %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @fornecedor.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @fornecedor.bairro %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @fornecedor.cep %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @fornecedor.estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @fornecedor.cidade %>
</p>

<p>
  <strong>Telefone Comercial:</strong>
  <%= @fornecedor.tcomercial %>
</p>

<p>
  <strong>Telefone Celular:</strong>
  <%= @fornecedor.tcelular %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @fornecedor.cnpj %>
</p>

<p>
  <strong>Inscrição Estadual:</strong>
  <%= @fornecedor.ie %>
</p>

<p>
  <strong>e-mail:</strong>
  <%= @fornecedor.email %>
</p>

<p>
  <strong>Incrição Municipal:</strong>
  <%= @fornecedor.im %>
</p>

<p>
  <strong>Site:</strong>
  <%= @fornecedor.site %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @fornecedor.categoria %>
</p>

<%= link_to 'Edit', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Back', fornecedors_path %>
