<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @categorium.tipo %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @categorium.observacao %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
