<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Cliente</legend>

    <div>
      <%= f.label :cliente_id, 'Nome' %>
      <%= f.collection_select(:cliente_id, Cliente.all, :id, :nome, { prompt: 'Escolha o cliente' }) %>
    </div>
  </fieldset>

  <fieldset>
  <legend>Duração</legend>

    <div class="field">
      <%= f.label :inicio, 'Início' %>
      <%= f.text_field :inicio %>
    </div>

    <div class="field">
      <%= f.label :fim, 'Fim' %>
      <%= f.text_field :fim %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Quantidade de pessoas</legend>

    <div class="field">
      <%= f.label :num_criancas, 'Crianças' %>
      <%= f.number_field :num_criancas %>
    </div>

    <div class="field">
      <%= f.label :num_adultos, 'Adultos' %>
      <%= f.number_field :num_adultos %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Tema</legend>

     <div>
        <%= f.label :tema_id, 'Nome' %>
        <%= f.collection_select(:tema_id, Tema.all, :id, :nome, { prompt: 'Escolha o tema' }) %>
      </div>
  </fieldset>

  <fieldset>
    <legend>Contratual</legend>

    <div class="field">
      <%= f.label :cortesia, 'Cortesia?' %>
      <%= f.check_box :cortesia %>
    </div>

    <div class="field">
      <%= f.label :consumacao, 'Consumação' %>
      <%= f.text_field :consumacao %>
    </div>

    <div class="field">
      <%= f.label :itens_avulsos, 'Itens Avulsos' %>
      <%= f.number_field :itens_avulsos %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Financeiro</legend>

    <div class="field">
      <%= f.label :entrada, 'Entrada' %>
      <%= f.text_field :entrada %>
    </div>

    <div class="field">
      <%= f.label :desconto, 'Desconto' %>
      <%= f.text_field :desconto %>
    </div>

    <div class="field">
      <%= f.label :forma_pagamento, 'Forma de pagamento' %>
      <%= f.text_field :forma_pagamento %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Documentação</legend>

    <div class="field">
      <%= f.label :contrato, 'Gerar contrato?' %>
      <%= f.check_box :contrato %>
    </div>

    <div class="field">
      <%= f.label :documento, 'Número do documento' %>
      <%= f.text_field :documento %>
    </div>
  </fieldset>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_area :obs %>
  </div>

  <div>
    <%= f.submit 'Salvar', class: 'button' %>
  </div>
<% end %>
