<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @conta_receber.cliente %>
</p>

<p>
  <strong>Dependente:</strong>
  <%= @conta_receber.dependente %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @conta_receber.tema %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @conta_receber.evento %>
</p>

<p>
  <strong>Dataevento:</strong>
  <%= @conta_receber.dataEvento %>
</p>

<p>
  <strong>Qtdecriancas:</strong>
  <%= @conta_receber.qtdecriancas %>
</p>

<p>
  <strong>Qtdeadultos:</strong>
  <%= @conta_receber.qtdeadultos %>
</p>

<p>
  <strong>Horariofesta:</strong>
  <%= @conta_receber.horarioFesta %>
</p>

<p>
  <strong>Duracaofesta:</strong>
  <%= @conta_receber.duracaoFesta %>
</p>

<p>
  <strong>Itemavulso:</strong>
  <%= @conta_receber.itemavulso %>
</p>

<p>
  <strong>Diasemana:</strong>
  <%= @conta_receber.diaSemana %>
</p>

<p>
  <strong>Cortesia:</strong>
  <%= @conta_receber.cortesia %>
</p>

<p>
  <strong>Valorconsumacao:</strong>
  <%= @conta_receber.valorConsumacao %>
</p>

<p>
  <strong>Valorfesta:</strong>
  <%= @conta_receber.valorfesta %>
</p>

<p>
  <strong>Desconto:</strong>
  <%= @conta_receber.desconto %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @conta_receber.entrada %>
</p>

<p>
  <strong>Formapagamento:</strong>
  <%= @conta_receber.formapagamento %>
</p>

<p>
  <strong>Ndocumento:</strong>
  <%= @conta_receber.ndocumento %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @conta_receber.obs %>
</p>

<%= link_to 'Edit', edit_conta_receber_path(@conta_receber) %> |
<%= link_to 'Back', conta_recebers_path %>
