<p id="notice"><%= notice %></p>

<h1 class="text-center">Fornecedores</h1>

<table>
  <thead>
    <tr>
      <th>Nome fantasia</th>
      <th>Razão social</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedores.each do |fornecedor| %>
      <tr>
        <td><%= fornecedor.nomefantasia %></td>
        <td><%= fornecedor.razaosocial %></td>
        <td><%= link_to 'Exibir', fornecedor %></td>
        <td><%= link_to 'Editar', edit_fornecedor_path(fornecedor) %></td>
        <td><%= link_to 'Excluir', fornecedor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to 'Novo fornecedor', new_fornecedor_path, class: 'button', method: :get %>
