<%= form_for(@conta_a_pagar) do |f| %>
  <% if @conta_a_pagar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conta_a_pagar.errors.count, "error") %> prohibited this conta_a_pagar from being saved:</h2>

      <ul>
      <% @conta_a_pagar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Identificação</legend>
      <div class="row">
        <div class="small-12 medium-6 columns">
    <%= f.label :fornecedor_id, 'Selecionar Fornecedor'  %><br>
    <%= f.number_field :fornecedor_id %>
  </div>
  </div>


  <div class="row">
  <div class="small-12 medium-6 columns">
    <%= f.label :vencimento , 'Vencimento' %>
    <%= f.text_field :vencimento %>
  </div>
  </div>

   <div class="row">
  <div class="small-12 medium-6 columns">
    <%= f.label :valor, 'Valor' %><br>
    <%= f.text_field :valor %>
  </div>
  </div>

</fieldset>

   <div>
    <%= f.submit 'Salvar' , class: 'button' %>
  </div>
<% end %>
