<p id="notice"><%= notice %></p>

<h1>Listing Contas A Pagar</h1>

<table>
  <thead>
    <tr>
      <th>Fornecedor</th>
      <th>Vencimento</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas_a_pagar.each do |conta_a_pagar| %>
      <tr>
        <td><%= conta_a_pagar.fornecedor_id %></td>
        <td><%= conta_a_pagar.vencimento %></td>
        <td><%= conta_a_pagar.valor %></td>
        <td><%= link_to 'Show', conta_a_pagar %></td>
        <td><%= link_to 'Edit', edit_conta_a_pagar_path(conta_a_pagar) %></td>
        <td><%= link_to 'Destroy', conta_a_pagar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conta a pagar', new_conta_a_pagar_path %>
