<p id="notice"><%= notice %></p>

<p>
  <strong>Fornecedor:</strong>
  <%= @conta_a_pagar.fornecedor_id %>
</p>

<p>
  <strong>Vencimento:</strong>
  <%= @conta_a_pagar.vencimento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @conta_a_pagar.valor %>
</p>

<%= link_to 'Edit', edit_conta_a_pagar_path(@conta_a_pagar) %> |
<%= link_to 'Back', contas_a_pagar_path %>
