<%= form_for(@categoria) do |f| %>
  <% if @categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
      <% @categoria.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Identificação</legend>
      <div class="row">
        <div class="small-12 medium-6 columns">
    <%= f.label :tipo, 'Tipo' %><br>
    <%= f.text_field :tipo %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
  <%= f.label :observacao , 'Observação' %><br>
  <%= f.text_field :observacao %>
  </div>
</div>
  </fieldset>

  <div>
    <%= f.submit 'Salvar' , class: 'button' %>
  </div>
<% end %>
