<p id="notice"><%= notice %></p>

<h1 class="text-center">Categorias</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categorias.each do |categoria| %>
      <tr>
        <td><%= categoria.tipo %></td>
        <td><%= categoria.observacao %></td>
        <td><%= link_to 'Exibir', categoria %></td>
        <td><%= link_to 'Editar', edit_categoria_path(categoria) %></td>
        <td><%= link_to 'Excluir', categoria, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nova categoria', new_categoria_path, class: 'button', method: :get %>
