<%= form_for(@dependente_cliente) do |f| %>
  <% if @dependente_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependente_cliente.errors.count, "error") %> prohibited this dependente_cliente from being saved:</h2>

      <ul>
      <% @dependente_cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :datanascimento %><br>
    <%= f.date_select :datanascimento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
