<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vittorana" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <aside>
      <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Vitorana</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="left">

            <li class="has-dropdown">
              <a href="#">Clientes</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar novo', new_cliente_path %></li>
                <li><%= link_to 'Lista todos', clientes_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Fornecedores</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar novo', new_fornecedor_path %></li>
                <li><%= link_to 'Lista todos', fornecedores_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Categorias</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar nova', new_categoria_path %></li>
                <li><%= link_to 'Lista todos', categorias_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Temas</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar novo', new_tema_path %></li>
                <li><%= link_to 'Lista todos', temas_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Contas a pagar</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar nova', new_conta_a_pagar_path %></li>
                <li><%= link_to 'Lista todas', contas_a_pagar_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Contas a receber</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar nova', new_conta_a_receber_path %></li>
                <li><%= link_to 'Lista todas', contas_a_receber_path %></a></li>
              </ul>
            </li>

            <li class="has-dropdown">
              <a href="#">Eventos</a>
              <ul class="dropdown">
                <li><%= link_to 'Criar novo', new_evento_path %></li>
                <li><%= link_to 'Lista todos', eventos_path %></a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </aside>
    <main>
      <%= yield %>
    <main>
  </body>
</html>
